/**** VARIABLES ******/
/*****************/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, "san-serif";
  font-size: 13px;
  box-sizing: border-box; }

a {
  color: #0066C0;
  text-decoration: none; }

.menu {
  width: 100%;
  height: 56px;
  padding: 1em;
  background-position: 0 -724px;
  background-image: url("../images/fnd.png");
  clear: both;
  border-bottom: 1px solid #CCC;
  /* BUSQUEDA */ }
  .menu .searchgroup {
    height: 55px;
    display: block; }
    .menu .searchgroup label {
      color: #333;
      display: inline-block;
      float: left;
      font-weight: 700;
      line-height: 35px;
      padding: 0 10px 0 0; }
    .menu .searchgroup .formblock {
      width: auto;
      border-radius: 4px;
      display: inline-block;
      position: relative; }
      .menu .searchgroup .formblock .searchform {
        padding: 0 -1em;
        width: inherit;
        margin-right: -1px;
        overflow: hidden;
        position: relative;
        border-radius: 4px; }
        .menu .searchgroup .formblock .searchform div {
          width: 165px;
          position: relative;
          margin: 0 10px 0 -10px;
          border-radius: 4px 0 0 4px;
          display: block;
          float: left; }
          .menu .searchgroup .formblock .searchform div .drop {
            height: 35px;
            width: 165px;
            margin: 0 10px 0 5px;
            padding: 0 21px 0 5px;
            background-position: 0 -524px;
            background-image: url("../images/fnd.png");
            color: #777;
            line-height: 33px;
            border-radius: 4px 0 0 4px;
            border: 1px solid  #BDBDBD;
            display: block;
            font-size: 12px;
            overflow: hidden;
            float: left;
            position: relative;
            left: 3%;
            cursor: pointer;
            z-index: 2; }
            .menu .searchgroup .formblock .searchform div .drop:hover {
              background-position: 0 -585px;
              background-image: url("../images/fnd.png"); }
          .menu .searchgroup .formblock .searchform div .arrow {
            height: 0;
            width: 0;
            line-height: 0;
            border-width: 4px 4px 0;
            border-style: solid;
            border-color: #A0A0A0 transparent transparent;
            position: absolute;
            right: 0px;
            top: 15px;
            z-index: 3; }
          .menu .searchgroup .formblock .searchform div .dropdownmenu {
            height: 35px;
            width: 174px;
            padding: 5px;
            margin: 0;
            border-radius: 4px 0 0 6px;
            line-height: 33px;
            position: absolute;
            left: 3%;
            top: 1%;
            opacity: 0;
            outline: 0 none;
            visibility: visible;
            display: block;
            float: left;
            cursor: pointer;
            z-index: 2; }
        .menu .searchgroup .formblock .searchform .search {
          height: 35px;
          width: 555px;
          margin: 0;
          padding: 6px 10px 6px 6px;
          background: none repeat scroll 0 0 #FFF;
          border: 0 none;
          border: 1px solid #CDCDCD;
          border-left: 1px solid #BDBDBD;
          box-shadow: none;
          font-size: 15px;
          line-height: 15px;
          display: block;
          float: left;
          position: relative;
          outline: 0px; }
          .menu .searchgroup .formblock .searchform .search:focus {
            border: 'none';
            box-shadow: 'none';
            outline-offset: #e47923; }
        .menu .searchgroup .formblock .searchform .search-icon-box {
          height: 35px;
          width: 29px;
          display: block;
          float: left;
          border-radius: 0 4px 4px 0; }
          .menu .searchgroup .formblock .searchform .search-icon-box label {
            height: 35px;
            width: 35px;
            text-indent: -500px;
            background-position: -30px -283px;
            background-image: url("../images/fnd.png");
            position: absolute;
            z-index: 2;
            cursor: pointer; }
          .menu .searchgroup .formblock .searchform .search-icon-box .searchbox {
            width: 40px;
            height: 100%;
            padding: 0.5em;
            margin-right: -10px;
            border: medium none;
            background-position: 10px -383px;
            background-image: url("../images/fnd.png");
            border: 1px solid #485059 #2C3137 #363C43 #485059;
            border-radius: 0 4px 4px 0; }
            .menu .searchgroup .formblock .searchform .search-icon-box .searchbox:hover {
              background-position: 10px -430px;
              background-image: url("../images/fnd.png"); }
  @media (max-width: 850px) {
    .menu .searchgroup label {
      display: none; }
    .menu .searchgroup .formblock {
      width: 100%; }
      .menu .searchgroup .formblock .searchform {
        width: auto; }
        .menu .searchgroup .formblock .searchform div {
          width: 40px; }
          .menu .searchgroup .formblock .searchform div .drop {
            width: 40px;
            height: 40px;
            margin: 0 0 -1em 0.5em;
            text-indent: -100px;
            background-position: 142px -530px;
            background-image: url("../images/sprite.png");
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg); }
          .menu .searchgroup .formblock .searchform div .arrow {
            display: none; }
          .menu .searchgroup .formblock .searchform div .dropdownmenu {
            height: 35px;
            width: 50px; }
        .menu .searchgroup .formblock .searchform .search {
          width: 85%;
          margin: 0;
          margin-right: 3px; }
          .menu .searchgroup .formblock .searchform .search:focus {
            border-color: none; }
        .menu .searchgroup .formblock .searchform .search-icon-box {
          display: none; }
          .menu .searchgroup .formblock .searchform .search-icon-box label {
            background-position: -30px -283px;
            background-image: url("../images/fnd.png"); } }

.content {
  width: 100%; }
  .contenta:before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0; }
  .contenta:after {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0; }
  .content:after {
    clear: both; }
  .content .result {
    margin: 0 0 1em 0;
    padding: 1em;
    padding-left: 2em;
    display: block;
    border-bottom: 1px solid #CCC;
    box-shadow: 0 0 10px #DDD; }
    .content .result span {
      font-weight: bold;
      color: #c45500; }
  .content ul {
    width: 100%;
    margin: 1em 0 0 -2px;
    padding-right: 12px;
    list-style: none; }
    .content ul li {
      margin: 0;
      padding: 0;
      word-spacing: normal;
      letter-spacing: normal;
      vertical-align: top;
      overflow: hidden;
      display: inline-block;
      position: relative;
      float: left; }
      .content ul li .item {
        height: 399px;
        display: table;
        margin: 0 0 12px 12px;
        padding: 20px;
        background-image: linear-gradient(to top, #FAFAFA 0px, #FDFDFD 20%, #FFFFFF 60%);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 100% 200px;
        border: 1px solid #F0F0F0;
        display: block;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 1px 1px 3px 0 #F2F2F2; }
        .content ul li .item .image-item {
          width: 175px;
          height: 175px;
          margin: 0 auto; }
          .content ul li .item .image-item img {
            max-width: 175px;
            height: 175px;
            margin: 0 auto;
            display: block;
            vertical-align: top; }

.item-desc {
  float: left;
  content: '';
  display: table;
  margin-bottom: 6px; }
  .item-desc h2 {
    font-size: 15px;
    font-weight: 400; }
    .item-desc h2:hover {
      color: #e47923; }
  .item-desc .items span {
    width: 100%;
    height: auto;
    border: none;
    background-image: none;
    box-shadow: none;
    padding: 0 10px 0 0; }
    .item-desc .items span i {
      background-image: url("../images/sprite.png");
      background-repeat: no-repeat;
      background-size: 400px 650px;
      display: inline-block;
      margin-right: 0.5em; }
    .item-desc .items span .star {
      height: 18px;
      width: 80px; }
    .item-desc .items span .star-1 {
      background-position: -69px -368px; }
    .item-desc .items span .star-15 {
      background-position: -223px -368px; }
    .item-desc .items span .star-2 {
      background-position: -53px -368px; }
    .item-desc .items span .star-25 {
      background-position: -207px -368px; }
    .item-desc .items span .star-3 {
      background-position: -37px -368px; }
    .item-desc .items span .star-35 {
      background-position: -191px -368px; }
    .item-desc .items span .star-4 {
      background-position: -21px -368px; }
    .item-desc .items span .star-45 {
      background-position: -175px -368px; }
    .item-desc .items span .star-5 {
      background-position: -5px -368px; }
  .item-desc .items .price {
    margin: 0;
    font-size: 14px !important;
    color: #B12704;
    font-weight: 700;
    line-height: 1.25; }
  .item-desc .items .category {
    margin: 0;
    color: #0066C0;
    font-size: 13px; }
  .item-desc .items .rate {
    margin: 0;
    font-size: 12px;
    float: left; }

.clear {
  clear: both; }

.s-col-2 {
  width: 50%; }

.s-col-3 {
  width: 33.3333%; }

.s-col-4 {
  width: 25%; }

.s-col-5 {
  width: 20%; }

.s-col-6 {
  width: 16.6667%; }

.s-col-7 {
  width: 16.6667%; }

.s-col-8 {
  width: 12.5%; }

.s-col-9 {
  width: 11.1111%; }

.s-col-10 {
  width: 10%; }

.s-col-11 {
  width: 9.09091%; }

.s-col-12 {
  width: 8.33333%; }

/*# sourceMappingURL=apistyle.css.map */
