//@import "_bootstrap_custom";
/**** VARIABLES ******/
$font : 'Verdana';
$fontsmall: 11px;
$fontSize : 12px;
$fontdefault: 13px;
$h2 : 15px;
$fontweight : 400;
$fontweight2 : 700;

$border: 1px solid #F0F0F0;
$boxshadow: 1px 1px 3px 0 #F2F2F2;
$paddingBox: 24px 20px 22px;
$marginBox: 0 12px 12px 0;

$block : block;
$floatLeft : left;
$auto : 0 auto;

$backgroundImage: linear-gradient(to top, #FAFAFA 0px, #FDFDFD 20%, #FFFFFF 60%);
$backgroundsprite: url('../images/sprite.png');
$backgroundsprite2: url('../images/fnd.png');
$white :  #fff;
$orange: #e47911;
$darkblue: #0c3e49;
$menugray: #efefef;
$yellow: #ffbb38;
$darkred: #B12704;

$linkColor : #0066C0;
$searchbordercolor : #485059 #2C3137 #363C43 #485059;
/*****************/
*{
	margin: 0;
	padding: 0;
	font-family: Arial, "san-serif";
	font-size: $fontdefault;
	box-sizing: border-box;
}

a {
	color: $linkColor;
	text-decoration: none;
}

.menu {
	width: 100%;
	height: 56px;
	padding: 1em;
	background-position: 0 -724px;
	background-image: $backgroundsprite2;
	clear: both;
	border-bottom: 1px solid #CCC;
	//box-shadow: 0 0 10px #DDD;
	/* BUSQUEDA */
	.searchgroup {
			height: 55px;
			display: block;
			label {
				color: #333;
				display: inline-block;
				float: $floatLeft;
				font-weight: $fontweight2;
				line-height: 35px;
				padding: 0 10px 0 0;
			}
			.formblock{
				width: auto;
				border-radius: 4px;
				display: inline-block;
				position: relative;
					.searchform{
						padding: 0 -1em;
						width: inherit;
						margin-right: -1px;
						overflow: hidden;
						position:relative;
						border-radius: 4px;
						div {
							width: 165px;
							position: relative;
							margin: 0 10px 0 -10px ;
							border-radius: 4px 0 0 4px;
							display: block;
							float:$floatLeft;
							//z-index: 2;

							.drop {
								height: 35px;
								width: 165px;
								//width: auto;
								margin: 0 10px 0 5px;
								padding: 0 21px 0 5px;
								background-position: 0 -524px;
								background-image: $backgroundsprite2;
								color: #777;
								line-height: 33px;
								border-radius: 4px 0 0 4px;
								border: 1px solid  #BDBDBD;
								display: block;	
								font-size: $fontSize;
								overflow: hidden;
								float: $floatLeft;	
								position: relative;
								left: 3%;			
								cursor: pointer;
								z-index: 2;
								&:hover {
									background-position: 0 -585px;
									background-image: $backgroundsprite2;
								}
							}
							.arrow {
								height: 0;
								width: 0;
								line-height: 0;
								border-width: 4px 4px 0;
								border-style: solid;
								border-color: #A0A0A0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
								position: absolute;
								right:0px;
								top: 15px;
								z-index: 3;
							}
							.dropdownmenu{
								height: 35px;								
								width: 174px;
								padding: 5px;
								margin: 0;	
								border-radius: 4px 0 0 6px;
								line-height: 33px;
								position: absolute;
								left: 3%;
								top: 1%;
								opacity: 0;
								outline: 0 none;
								visibility: visible;	
								display: block;	
								float: $floatLeft;
								cursor: pointer;
								z-index: 2;

							}
						}
							.search {
								height: 35px;
								width: 555px;
								margin: 0;
								padding: 6px 10px 6px 6px;
								background: none repeat scroll 0 0 #FFF;
								border: 0 none;
								border: 1px solid #CDCDCD;
								border-left:1px solid #BDBDBD;	
								box-shadow: none;	
								font-size: $h2;
								line-height: $h2;
								display: block;
								float: $floatLeft;
								position: relative;
								outline: 0px;
								&:focus {
									border: 'none';
									box-shadow: 'none';
									outline-offset: #e47923;
								}
							}
							.search-icon-box{
										height: 35px;
										width: 29px;
										display: block;
										float: $floatLeft;
										border-radius: 0 4px 4px 0;	
										label {
											height: 35px;
											width:35px;
											text-indent: -500px;									
											background-position: -30px -283px;
											background-image: $backgroundsprite2;
											position: absolute;
											z-index: 2;
											cursor: pointer;
										}
									.searchbox{
										width: 40px;
										height: 100%;
										padding: 0.5em;
										margin-right: -10px;
										border: medium none; 
										background-position: 10px -383px;
										background-image: $backgroundsprite2;									
										border:1px solid $searchbordercolor;
										border-radius: 0 4px 4px 0;	
										&:hover{
											background-position: 10px -430px;
											background-image: $backgroundsprite2;	
										}
										
									}
							}
					}
			}	
	}
	@media (max-width: 850px) {
  		.searchgroup {
			label {
				display:  none;
			}
			.formblock{
				width: 100%;
					.searchform{
						width: auto;						
						div {
							width: 40px;
							.drop {
								width: 40px;
								height: 40px;
								margin: 0 0 -1em 0.5em;
								text-indent: -100px;
								background-position: 142px -530px;
								background-image: $backgroundsprite;
								-webkit-transform: rotate(90deg);
						    -moz-transform: rotate(90deg);
						    -ms-transform: rotate(90deg);
						    -o-transform: rotate(90deg);
						    transform: rotate(90deg);
		
							}
							.arrow  {
								display: none;
							}
							.dropdownmenu{
								height: 35px;
								width: 50px;
							}
						}
							.search {
								width: 85%;
								margin: 0;
								margin-right: 3px;
								&:focus {
									border-color: none;
								}
							}
								.search-icon-box{
									display: none;
										label {								
											background-position: -30px -283px;
											background-image: $backgroundsprite2;
										}
							}
					}
			}	
	}
  }     
}
.content {
	width: 100%;
	&a:before {
		display: table;
		content: "";
		line-height: 0;
		font-size: 0
	}
	&a:after {
		display: table;
		content: "";
		line-height: 0;
		font-size: 0
	}
	&:after {
		clear: both
	}
		.result{
			margin: 0 0 1em 0;
			padding: 1em;
			padding-left: 2em;
			display: block;
			border-bottom: 1px solid #CCC;
			box-shadow: 0 0 10px #DDD;
			span {
				font-weight: bold;
				color: rgb(196, 85, 0);
			}
		}
		ul {
		width: 100%;
		margin: 1em 0 0 -2px;
		padding-right: 12px;
		list-style: none;
		li {
			margin: 0;
			padding: 0;		
			word-spacing: normal;
			letter-spacing: normal;		
			vertical-align: top;
			overflow: hidden;
			display: inline-block;
			position: relative;
			float: $floatLeft;
				.item {
					height: 399px;
					display: table;
					margin: 0 0 12px 12px;
					padding: 20px;
					background-image: $backgroundImage;
					background-position: left bottom;
					background-repeat: no-repeat;
					background-size: 100% 200px;
					border: $border;
					display: block;
					position: relative;
					overflow: hidden;
					box-sizing: border-box;
					box-shadow: $boxshadow;
					.image-item {
						width: 175px;
						height: 175px;
						margin: $auto ;
						img {
							max-width: 175px;
							height: 175px;
							margin: $auto;
							display: $block;
							vertical-align: top;
						}
					}
				}		
			}
		}

		
}

.item-desc {
	float: $floatLeft;
	content: '';
	display: table;
	margin-bottom: 6px;
	h2 {
		font-size: $h2;
		font-weight: $fontweight;
		&:hover {
			color: #e47923;
		}
	}
	.items {

		span{
			width: 100%;
			height: auto;
			border: none;
			background-image: none;
			box-shadow: none;
			padding: 0 10px 0 0;
			i{
				background-image: $backgroundsprite;
				background-repeat: no-repeat;
				background-size: 400px 650px;
				display: inline-block;
				margin-right: 0.5em;
			}
			.star {
					height: 18px;
					width: 80px;					
			}
			.star-1{	background-position: -69px -368px;	}
			.star-15{	background-position: -223px -368px;	}
			.star-2{	background-position: -53px -368px;	}
			.star-25{	background-position: -207px -368px;	}
			.star-3{	background-position: -37px -368px;	}
			.star-35{	background-position: -191px -368px;	}
			.star-4{	background-position: -21px -368px;	}
			.star-45{ background-position: -175px -368px;	}
			.star-5{	background-position: -5px -368px; }
		}
		.price  {
			margin: 0;
			font-size: 14px !important;
			color: $darkred;
			font-weight: $fontweight2;
			line-height: 1.25;
		}
		.category {	
			margin: 0;		
			color: $linkColor;
			font-size: $fontdefault;
		}
		.rate {
			margin: 0;
			font-size: $fontSize;
			float: $floatLeft;
		}
	}
}

.clear { 	clear: both;}

// COLUMN SIZE

			.s-col-2  {  width: 50%;	}
			.s-col-3  {  width: 33.3333%;	}
			//.s-col-3  {  width: 66.6667%;	}
			.s-col-4  {  width: 25%;	}
		//	.s-col-4  {  width: 50%;	}
			.s-col-5  {  width: 20%;	}
			//.s-col-5  {  width: 40%;	}
			.s-col-6  {  width: 16.6667%;	}
		//	.s-col-6   { width: 33.3333%;	}
			//.s-col-7  {  width: 14.2857%;	}
			.s-col-7  {   width: 16.6667%;	}
			//.s-col-7  {  width: 28.5714%;	}
			.s-col-8  {  width: 12.5%;	}
		//	.s-col-8   { width: 25%;	}
			.s-col-9   { width: 11.1111%;	}
			//.s-col-9  {  width: 22.2222%;	}
			.s-col-10 {  width: 10%;	}
		//	.s-col-10 {  width: 20%;	}
			.s-col-11 {  width: 9.09091%;	}
		//	.s-col-11 {  width: 18.1818%;	}
			.s-col-12  { width: 8.33333%;	}
		//	.s-col-12  { width: 16.6667%;	}